

auto lo
iface io inet loopback

{% if proxmox__network_interfaces_config is defined %}

### Network Interfaces

{%   for interface in proxmox__network_interfaces_config %}
{# Configuring interface #}
{%      if interface['configure'] is defined and interface['configure'] %}
{# Setting comment#}
{%        if interface['comment'] is defined and interface['comment'] != None %}
# {{ interface['comment'] }}
{%      endif %}
{# Setting name and method #}
auto {{ interface['name'] }}
iface {{ interface['name'] }} inet {{ interface['method']|lower }}
{# Set Address, Netmask, Gateway if static or manual #}
{%        if interface['method']|lower == "static" or interface['method']|lower == "manual" %}
{# Set Address #}
{%          if interface['address'] is defined and interface['address'] != None %}
        address {{ interface['address'] }}
{%          endif %}
{# Set Netmask #}
{%           if interface['netmask'] is defined and interface['netmask'] != None %}
        netmask {{ interface['netmask'] }}
{%           endif %}
{# Set Gateway #}
{%           if interface['gateway'] is defined and interface['gateway'] != None %}
        gateway {{ interface['gateway'] }}
{%           endif %}
{%        endif %}
{# Set Parameters #}
{%        if interface['parameters'] is defined and interface['parameters'] != None %}
{%          for parameter in interface['parameters'] %}
        {{ parameter['param'] }} {{ parameter['value'] }}
{%          endfor %}
{%        endif %}
{%      endif %}
{%   endfor %}

### End of Network Interfaces
{% endif %}

{% if proxmox__ovs_bridges_config is defined and proxmox__ovs_bridges_config %}
### OpenVSwitch Bridges

{%   for bridge in proxmox__ovs_bridges_config %}
{# Configuring bridge #}
{%      if bridge['configure'] is defined and bridge['configure'] %}
{# Setting comment#}
{%        if bridge['comment'] is defined and bridge['comment'] != None %}
# {{ bridge['comment'] }}
{%        endif %}
{# Setting name and method #}
auto {{ bridge['name'] }}
allow-ovs {{ bridge['name'] }}
iface {{ bridge['name']}} inet {{ bridge['method']|lower }}
{%      endif %}
{%   endfor %}

### End of OpenVSwitch Bridges
{% endif %}



