

auto lo
iface io inet loopback

{% if proxmox__network_interfaces_config is defined %}

### Network Interfaces

{%   for interface in proxmox__network_interfaces_config %}
{# Configuring interface #}
{%      if interface['configure'] is defined and interface['configure'] %}
{# Setting comment#}
{%        if interface['comment'] is defined and interface['comment'] != None %}
# {{ interface['comment'] }}
{%      endif %}
{# Setting name and method #}
auto {{ interface['name'] }}
iface {{ interface['name'] }} inet {{ interface['method']|lower }}
{# Set Address, Netmask, Gateway if static or manual #}
{%        if interface['method']|lower == "static" or interface['method']|lower == "manual" %}
{# Set Address #}
{%          if interface['address'] is defined and interface['address'] != None %}
        address {{ interface['address'] }}
{%          endif %}
{# Set Netmask #}
{%           if interface['netmask'] is defined and interface['netmask'] != None %}
        netmask {{ interface['netmask'] }}
{%           endif %}
{# Set Gateway #}
{%           if interface['gateway'] is defined and interface['gateway'] != None %}
        gateway {{ interface['gateway'] }}
{%           endif %}
{%        endif %}
{# Set Parameters #}
{%        if interface['parameters'] is defined and interface['parameters'] != None %}
{%          for parameter in interface['parameters'] %}
        {{ parameter['param'] }} {{ parameter['value'] }}
{%          endfor %}
{%        endif %}
{%      endif %}

{%   endfor %}
### End of Network Interfaces
{% endif %}

{% if proxmox__ovs_bridges_config is defined and proxmox__ovs_bridges_config %}
### OpenVSwitch Bridges

{%   for bridge in proxmox__ovs_bridges_config %}
{# Configuring bridge #}
{%      if bridge['configure'] is defined and bridge['configure'] %}
{# Setting comment#}
{%        if bridge['comment'] is defined and bridge['comment'] != None %}
# {{ bridge['comment'] }}
{%        endif %}
{# Setting name and method #}
auto {{ bridge['name'] }}
iface {{ bridge['name']}} inet {{ bridge['method']|lower }}
{%      endif %}
{# Set Address, Netmask, Gateway if static or manual #}
{%      if bridge['method']|lower == "static" or bridge['method']|lower == "manual" %}
{# Set Address #}
{%        if bridge['address'] is defined and bridge['address'] != None %}
        address {{ bridge['address'] }}
{%        endif %}
{# Set Netmask #}
{%        if bridge['netmask'] is defined and bridge['netmask'] != None %}
        netmask {{ bridge['netmask'] }}
{%        endif %}
{# Set Gateway #}
{%        if bridge['gateway'] is defined and bridge['gateway'] != None %}
        gateway {{ bridge['gateway'] }}
{%        endif %}
{%      endif %}
{# Set Parameters #}
{%      if bridge['parameters'] is defined and bridge['parameters'] != None %}
{%        for parameter in bridge['parameters'] %}
        {{ parameter['param'] }} {{ parameter['value'] }}
{%        endfor %}
{%      endif %}
{# Set Ports #}
        ovs_type OVSBridge
        ovs_ports {{ bridge['ports']|join(' ') }}

{%   endfor %}
### End of OpenVSwitch Bridges
{% endif %}

{% if proxmox__ovs_intports_config is defined and proxmox__ovs_intports_config %}
### OpenVSwitch Internal Ports

{%   for port in proxmox__ovs_intports_config %}
{# Configuring port #}
{%      if port['configure'] is defined and port['configure'] %}
{# Setting comment#}
{%        if port['comment'] is defined and port['comment'] != None %}
# {{ port['comment'] }}
{%        endif %}
{# Setting name and method #}
auto {{ port['name'] }}
iface {{ port['name']}} inet {{ port['method']|lower }}
{%      endif %}
{# Set Address, Netmask, Gateway if static or manual #}
{%      if port['method']|lower == "static" or port['method']|lower == "manual" %}
{# Set Address #}
{%        if port['address'] is defined and port['address'] != None %}
        address {{ port['address'] }}
{%        endif %}
{# Set Netmask #}
{%        if port['netmask'] is defined and port['netmask'] != None %}
        netmask {{ port['netmask'] }}
{%        endif %}
{# Set Gateway #}
{%        if port['gateway'] is defined and port['gateway'] != None %}
        gateway {{ port['gateway'] }}
{%        endif %}
{%      endif %}
{# Set Parameters #}
{%      if port['parameters'] is defined and port['parameters'] != None %}
{%        for parameter in port['parameters'] %}
        {{ parameter['param'] }} {{ parameter['value'] }}
{%        endfor %}
{%      endif %}
{# Set Ports #}
        ovs_type OVSIntPort
        ovs_bridge {{ port['bridge'] }}
        ovs_options tag={{ port['tag'] }}

{%   endfor %}
### End of OpenVSwitch Internal Ports
{% endif %}


